$checkbox-checked-label-color: #333;
$checkbox-checked-label-tick-color: #fff;
$checkbox-checked-box-background: #1EA7FD;
$checkbox-checked-box-border: #1EA7FD;
$checkbox-label-color: #777;
$checkbox-box-border: rgba(151, 151, 151, 0.3);
$checkbox-checked-label-tick-width: 0.12em 0.12em 0 0;