.reusable-checkbox-group {
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    &:focus {
      outline: none;
    }
  }
  &.inline {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    margin: 5px 10px;
    input[type='checkbox'] {
      opacity: 0;
      position: absolute;
      &:checked + {
        .label {
          color: $checkbox-checked-label-color;
          &:before {
            color: $checkbox-checked-label-tick-color;
            border-style: solid;
            width: 10px;
            height: 5px;
            border-width: $checkbox-checked-label-tick-width;
            content: '';
            display: inline-block;
            left: 3px;
            position: absolute;
            top: 11px;
            transform: rotate(135deg);
            z-index: 2;
          }
          &:after {
            background: $checkbox-checked-box-background;
            border-color: $checkbox-checked-box-border;
          }
        }
      }
    }
    .label {
      position: relative;
      padding: 7px 10px 5px 25px;
      display: block;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      color: $checkbox-label-color;
      &:after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid $checkbox-box-border;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 8px;
        border-radius: 2px;
      }
    }
    &-multi-display {
      padding-right: 5px;
    }
  }
}