.reusable-ms-dropdown {
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    &:focus {
      outline: none;
    }
  }
  width: 250px;
  position: relative;
  &-search {
    width: 100%;
    position: relative;
    &-input {
      display: flex;
      width: 100%;
      height: 40px;
      border: 1px solid $dropdown-box-border;
      padding: $dropdown-box-padding;
      color: $dropdown-box-color;
      background: $dropdown-box-background;
      border-radius: 5px;
    }
    &-clear {
      z-index: 2;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(50%, -50%);
      width: 20px;
      height: 20px;
      background: #1EA7FD;
      border-radius: 40px;
      cursor: pointer;
      &:before, &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: ' ';
        height: 10px;
        width: 2px;
        border-radius: 4px;
        background-color: #ffffff;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  &-box {
    color: $dropdown-box-color;
    background: $dropdown-box-background;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid $dropdown-box-border;
    border-radius: 5px;
    padding: $dropdown-box-padding;
    cursor: pointer;
    width: 100%;
    position: relative;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
    &:after {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translate(50%, -50%);
      right: 20px;
      border-top: $dropdown-chevron-border-top-width solid
      $dropdown-chevron-color;
      border-left: $dropdown-chevron-border-left-width solid
        transparent;
      border-right: $dropdown-chevron-border-left-width solid
        transparent;
    }
    &-clear {
      z-index: 2;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(50%, -50%);
      width: 20px;
      height: 20px;
      background: #1EA7FD;
      border-radius: 40px;
      cursor: pointer;
      &:before, &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: ' ';
        height: 10px;
        width: 2px;
        border-radius: 4px;
        background-color: #ffffff;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &-container {
    position: absolute;
    content: ' ';
    margin-top: 1px;
    top: 100%;
    width: 100%;
    max-height: 200px;
    min-height: 30px;
    overflow: auto;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 #f0f0f0;
    background: #f9f9f9;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid $dropdown-box-border;
    &-list-item {
      &-multi-display {
        padding-right: 5px;
      }
      display: flex;
      align-items: center;
      background: #ffffff;
      width: 100%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $dropdown-box-border;
      cursor: pointer;
      &:first-of-type {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-of-type {
        border-bottom: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background: rgba(0,0,0,0.05);
      }
      &-active {
        background: #1EA7FD;
        color: #ffffff;
        &:hover {
          background: #1EA7FD;
        }
      }
      &-cursor {
        background: rgba(0,0,0,0.05);
        &.reusable-ms-dropdown-container-list-item-active {
          background: #1EA7FD;
          color: #ffffff;
        }
      }
      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
        &:hover {
          background: #ffffff;
        }
      }
    }
  }
}

.reusable-loader, .reusable-no-data {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.reusable-search.icon {
  position: absolute;
  right: 22px;
  top: 50%;
  margin-top: 2px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 100%;
  transform: translate(50%, -75%) rotate(-45deg);
}

.reusable-search.icon:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}

