$dropdown-box-border: rgba(151, 151, 151, 0.3);
$dropdown-box-color: #000;
$dropdown-box-background: #ffffff;
$dropdown-box-padding: 5px 40px 5px 10px;

$dropdown-chevron-color: #1EA7FD;
$dropdown-chevron-border-top-width: 10px;
$dropdown-chevron-border-left-width: 5px;